body{
	width: 1200px;
	height: 100%;
	margin: auto !important ;

	background-image: url("../images/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

#color{
	background-color: white;
	display: inline-block;	
	margin-left: auto;
	margin-right: auto;	
}

#banner{
	width: 100%;
}



h1{
	 text-align:center;
	 color:black;
}

#sepCoIns{
	height : 600px;
}



#testNav{
	width: 20%;
	height:2%;
	display : inline-block;
}


#errMessage {
	color : red;
	text-align : center;
	display : inline-block;
	vertical-align : top;
	width : 77%;
	
}

#errMessage h1 {
	text-align : center ; 
	padding-bottom : 3%;
	border-bottom : solid 3px #D6D6E4;
}
#errMessage p{
	text-align : left ; 
}

#confirmMessage {
	color : green;
	text-align : center;
	display : inline-block;
	vertical-align : top;
	width : 77%;

	
}

#confirmMessage h1 {
	text-align : center ; 
	padding-bottom : 3%;
	border-bottom : solid 3px #D6D6E4;
}
#confirmMessage p{
	text-align : left ; 
}


/*----------------------------------NAV-------------------------------------*/

.active #menu{

color : white;
background-color: darkgray; 

}

#menu{
border-right: 1px solid black; 
border-top: 1px solid black; 
border-left: 1px solid black; 
color: black;

}

nav{
margin-left:2%;
border-bottom: 1px solid black; 
}


/*----------------------------------FOOTER------------------------------------*/

footer{
	text-align: center;
	vertical-align: center;
	height: 230px;

	background-image: url("../images/footer_test.jpg");
	padding-top : 100px;
}







/*----------------------------------CONNEXION-------------------------------------*/
#connexion{
	width: 30%;
	height: 400px;
	border-radius: 10px;
   	padding:20px 10px 20px 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	
}


#entreeFormCo{
	
	display: inline-block;
	vertical-align: top;


}

#entreeFormCo input {
	width: 150px;
}



/*--------------------------------------INSCRIPTION-----------------------------------*/


#inscription{
	margin-top: -25px;
	width: 30%;
	height: 600px;
	border-radius: 10px;
 	padding:20px 10px 20px 10px;
 	color: black;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}


#entreeFormIns{

	display: inline-block;
	vertical-align: top;

}



#welcome{
 	margin-top: -23%;
	width : 550px;
	height: 340px;
	margin-left: 20px;
}






/*-------------------------------------ACCUEIL-------------------------------------*/


/*------présentations-------*/

#presentationGenerale{
	width : 59%;
	margin-left : 5%;
	display: inline-block;
	vertical-align: top;
}



#presentationGenerale p {
		margin-left : 10%;
}

#presentationGenerale h2 {
		margin-left : 5%;
}

/*------Nous-----*/
#nous{
	margin-left : 5%;
}

#nous p {
		margin-left : 5%;
}
#nono{
	width: 30%;
height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align : center;
}
#nono:hover{

background-color : #ffe4b2;
}

#imgNono{
	height : 20%;
	width: 20%;
}


#fafa{
height: 100%;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align : center;
}
#fafa:hover{
	background-color : #ffe4b2;
}

#imgFafa{
	height : 20%;
	width: 20%;
}


#yoyo{
height: 100%;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align : center;

}
#yoyo:hover{

background-color : #ffe4b2;
}

#imgYoyo{
	height : 20%;
	width: 20%;
}

#sepPresentation{
	height : 100%;
	
}

#editButton{
	display: inline-block;
	vertical-align: top;
	margin-left:-5%;
	width: 4%;
	height: 4%;
}

#administratorIcon{
	display: inline-block;
	vertical-align: top;
	margin-top: -5%;
	width: 10%;
	height: 10%;
}
	





/*-------------------------------------REGLES-------------------------------------*/

#reglesGenerales{
	margin-left : 5%;
}


#regles{
	width : 60%;
	display: inline-block;
	vertical-align: top;

}

#regles p {
	font-size: 150%;
	margin-left : 5%;
}

#pieces{
	margin-left : 5%
}

#jeu01{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	height: 15%;

}

#jeu01 img{
	width: 170px;
	height: 170px;
	text-align : center
}
	

#deroulement{
	width : 90%;
	margin-left:2%;

}

#deroulement p {
	font-size: 150%;
	margin-left : 5%;
}


#deplacement{
	font-size: 150%;
	width : 90%;
	margin-left:2%;
}

#deplacement h4{
	font-size: 140%;
}

#deplacement p {
		font-size: 150%;
	margin-left : 5%;
}

#deplacement img{
	display : block;
	margin-left : auto;
	margin-right : auto;
}


#deplacementSpeciaux{
	width : 90%;
	margin-left:2%;

}
#deplacementSpeciaux p {
	font-size: 150%;
	margin-left : 5%;
}

#deplacementSpeciaux img{
	display : block;
	margin-left : auto;
	margin-right : auto;
}



#finDePartie{
	width : 90%;
	margin-left:2%;

}
#finDePartie p {
	font-size: 150%;
	margin-left : 5%;
}

#finDePartie img{
	display : block;
	margin-left : auto;
	margin-right : auto;
}

#finDePartie h4{
	font-size : 150%;
}
#consequances {
	font-size: 100%;
	padding-left: 5%;
}







/*--------------------------------------------VENTE---------------------------------------------*/


#nouveautes{
	margin-left: 2%;
	width : 75% ;
	display : inline-block;
	vertical-align : top;
	margin-top : -60px;
}



#nouveautes h1 {
	color :#cc0000 ; 
}

#sepProduits{
	width : 100%;
}

#newProduit{
	padding-top: 2%;
	height : 30% !important ;
	width : 30% !important ;
}

#newProduit img{
	display : block;
	margin : auto;
}

#divImageProduit{

	display: inline-block;
	float: left;
	width : 30%;
	height: 100%;

} 

#labelImageProduit{
	padding-top: 1%;
	display: inline-block;
	text-align : center;
	font-weight: bold;
	float: left;
	width : 30%;

} 

#newImageProduit{

	text-align : right;
	display: inline-block;
	float: right;
	width : 30%;

}

#newLogo{
	width: 30%;
	margin-top: -15px;
	margin-right: 30px;
	 
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
   
}

/* Links inside the dropdown */
.dropdown-content input {
    color: black;
   
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content input:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

	
#filtre {
	border-right : solid 2px black;
	width : 15%;
	margin-left : 1%;
	margin-right: 1%;
	margin-top : 1%;
	display :inline-block;
	
}

#filtre h2 {
	text-decoration: underline;
}

#filtre input{
	margin : auto;
}

#bouton{
   display: block;
   margin : auto;
}


#produitsEtPages{
	height: 1100px;
	display: inline-block;
	vertical-align : top;
	width: 80% ; 

}

#produits{

	height : 95%;
	margin-left : 5%;
}

#unProduit{
	border : solid 1px #d3d3d3;
	border-radius : 5px; 
	display : inline-block;
	vertical-align : top;
	text-align : center;
	margin-left: 1%;
	margin-right: 1%; 
	margin-bottom: 1%;
}

#unProduit a{
	color : black;
}
 
#unProduit :hover{
	background-color : #d3d3d3;
}

#imageProduits{
	width : 200px; 
	height : 175px ; 
}

#pages{

	width : 100%;
	text-align : center;
}

#pages form{
	display : inline-block;
	vertical-align : top;

}

#pages label {
	display : inline-block;
	margin-top : 7px;
}

/*-------------------------------------------GALERIE------------------------------------------------*/


#uneImage{
	width : 100%;
	text-align: center;
}

#galerieImages{
	margin-left: 2%;
	width: 75%;
	display: inline-block;
	vertical-align: top;
	margin-top: -60px;

}

#galerieImages h1{
	
	width : 100%;
	text-align : center;
}


#descriptionImage{ 
	padding-left: 2%;
	text-align : left;
}



.solo{	
	border : solid 1px #d3d3d3;
	border-radius : 5px; 
	margin-top : 1%;
	width : 24%;
	text-align : center;
	display: inline-block;
	vertical-align: top;

}

.solo :hover{
	background-color : #d3d3d3;
}

.solo a{
	color : black;
}

#pagesImages{
	width: 100% ;
	text-align : center; 
}


#contenuImages{
	width : 100%;
	height: 1150px;
}

#pagesImages form{
	display : inline-block;
	vertical-align : top;
}

#pagesImages label {
	display : inline-block;
	margin-top : 7px;
}




/*---------------------------------------SUIVI COMMANDE--------------------------------------*/

#lesCommandes{
	width: 77%;
	display : inline-block;
	vertical-align : top;
}

#lesCommandes h1 {
	font-size: 600%;
}

.titreCommande{
	display : inline-block;
	vertical-align : top;
	width : 49%;	
}

.tousLesDetails{
	border-bottom : solid 3px lightgrey;	
}

.detailsCommande{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-left: 1%;
}

.noCommande{
	display: inline-block;	
	vertical-align : top;
	margin-left : 1%;
}

.prixCommande{	
	display: inline-block;
	vertical-align : top;
	margin-left : 1%;
}

.dateCommande{
	display: inline-block;
	vertical-align : top;
	margin-left : 1%;
}

#labelsDetailCommande {
	display: inline-block;
	vertical-align : top;
	width : 30%;
	margin-left : 1%;
}

#detailCommande{
	display: inline-block;
	vertical-align : top;
	width : 49%;
	margin-left : 1%;
}


#etatCommande{
	border-bottom : solid 3px lightgrey;
}

.boutonSuppCommande{
	display: inline-block;
	vertical-align : top;
	text-align : right;
	width : 49%;
}


.ImageButtonSuppCommande{
	height : 35px;
	width : 50px;
}

.avanceeCommande{
	display: inline-block;
	text-align: center;
	width: 85%;
}


.uneCommande{
	border-top : solid 3px lightgrey;
	border-bottom : solid 3px lightgrey;
	margin-top : 10px;
}

.titreListeProduits {
	width : 100%;
}
#titreProduit {
	margin-left : 1%;
	margin-right : 1%;
	display : inline-block;
	vertical-align : top;
}

#prixProduit {
	display : inline-block;
	vertical-align : top;
	padding-left : 1%;
}

#qteProduit {
	display : inline-block;
	vertical-align : top;
	padding-left : 1%;
}



#separateurCommandes{
	width : 100%;
}



/*------------------------------------------PANIER------------------------------------------------*/
#bodyPanier{
	margin-top : -3%;
	display : inline-block;
	vertical-align : top;
	width : 70%;
}	

.produitDansPanier {
	border-radius : 2%;
	padding-left : 1%;
	padding-top : 1%;	
	padding-bottom : 1%;
	border : solid 1px #d3d3d3;
	margin-bottom : 1%;
}

.imageProduitDansPanier img{
	width : 30%;
}

.caracteristiquesProduitPanier{
	width : 44%;
	padding-left : 1%;
	display : inline-block;
	vertical-align : middle;
}

.titreProduitPanier{
	border : solid 1px red;
}

.prixProduitPanier{
	border : solid 1px black;
}

.qteProduitPanier{
	border : solid 1px pink;
}

.descriptionProduitPanier{
	border : solid 1px orange;
}

.suppressionProduitDansPanier{
	display : inline-block;
	vertical-align : middle;
	width : 25%;
	text-align : center;
}

.boutonSuppProduitPanier img{
	width : 50%;

	display : block;
	margin-left : auto;
	margin-right : auto;
}

#bottomPanier{
	text-align : center;
}





/*-------------------------------------------PRODUIT------------------------------------------------*/


.top{

width : 60%;
display : inline-block;
vertical-align : top;
text-align : center;

}

.top img{

width : 50%;
}

.caract{

width : 60%;
margin: 5%;
font-size : 2em;
}

.caract p {

margin: 3%;
}

#sale div{

float: left;
margin-bottom : 10%;
}

.description{

width: 55%;
margin-left: 5%;
margin-right : 10%;
font-size : 2em;
}


.detail{
	width: 	25%;
	font-size : 140%;
}


.detail .evaluation{
	font-size : 130%;
}

.panierAjout{
	font-size : 2em;
}

#qteProduitVendu{
	margin-left : 25px;
	width : 25%;
	font-size: 80%;
}

#boutonValide{

	margin-left : 25px;
	width : 70%;
	height : 25%;
	background-color : rgb(90, 160, 235);
	font-weight : bold;
	border-radius : 7px;
	font-size: 60%;

}

 /*-----------------------------------------GESTION DES COMPTES COTÉ ADMIN-------------------------------------*/

#titreGestionDesComptes {
	width : 70%;
	font-weight : bold;
	font-size : 4em;
	padding-top : 3%;	
	color : #463E3F;
	text-decoration : underline;
	display : inline-block;
	vertical-align : top;
}

#tableauInformationCompte{
	width : 90%;
	display : block;
	margin-left: auto;
	margin-right: auto;
	border : solid 1px black;
	margin-top : 2%;
	margin-bottom: 2%;
}

.nomDesColones{
	border : solid 1px black;
	font-weight: bold;
	width : 9%;
	padding-bottom : 1%;
	padding-top : 1%;
	text-align : center;	
}

.nomDesColones:hover{
	background-color : #ffe4b2;
}



.informationsDuCompte{
	border : solid 1px black;
	text-align : center;	
}




#gestionInformationPersonnelles{
	padding-left : 23%;
}

#gestionInformationPersonnelles text{
	font-size : 0.8em;
}

#enjoliveur {
	border-left : solid 1px black;
	padding-left : 1%;	
	background-color : #d3d3d3;
	width : 90%;
}

#titreGestionInfoCompte{
	width : 70%;
	font-weight : bold;
	font-size : 4em;
	padding-top : 3%;	
	color : #463E3F;
	text-decoration : underline;
	display : inline-block;
	vertical-align : top;
}


.divLabelGestionCompte{
	display : inline-block;
	vertical-align : top;

	margin-top : 5px;

}

.divLabelGestionCompte label{

	padding-left : 5%;
	padding-bottom : 6%;
	margin-top : 2%;
	font-size : 1.1em;
}

.divInputGestionCompte {
	display : inline-block;
	vertical-align : top;

}

.divLabelGestionComptePartie2{
	display : inline-block;
	vertical-align : top;

	margin-top : 5px;

	
}

.divLabelGestionComptePartie2 label{

	margin-top : 5px;	
}

.divInputGestionComptePartie2 {
	display : inline-block;
	vertical-align : top;

}


#buttonValiderGestionCompte{
	display : block;
	margin-left : 20%;

}














































