/*CSS TP4*/


body{
	width: 1200px;
	height: 100%;
	margin: auto;

}

#color{
	background-color: white;
	display: inline-block;	
/*	margin-left: auto;
	margin-right: auto;	*/
}

#banner{
	width: 100%;
}


/*----------------------------------NAV-------------------------------------*/

.active #menu{
	color : white;
	background-color: darkgray; 
}

.menu{
	border : solid 1px pink;
	color: #FFFAFA;
	text-decoration: none;
	padding: 9px;
}

.menuBoutonCo {
	border : solid 1px pink;
	color: #FFFAFA;
	text-decoration: none;
	padding: 9px;

}

nav{
	margin: 0px;

}

.navbar-list {
	background-image: url(images/banner.jpg);
	margin: 0px;
	padding: 10px;
	border-bottom : solid 4px white;
	border-radius: 10px;
	position:fixed;
	width: 1180px;

	
	
	
}




/*----------------------------------FOOTER------------------------------------*/

footer{
	text-align: center;
	vertical-align: center;
	height: 120px;
	border-top : 1px solid black;
	margin-top: 20px;

}




